In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

# 1. Explain the dataset

In [14]:
data = pd.read_csv('Advertising.csv')
data

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

This above data consist of 200 rows and 5 columns. TV, Radio, Newspaper and sales are required columns and one column called unnamed could be removing because of it is not relavant

In [15]:
data = data.drop('Unnamed: 0',axis=1)
data

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [17]:
#Cheking null values
data.isna().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [16]:
#total information of updated dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

# 2. Check the summary statistics and discuss the max, min, avg, median, and percentiles.

In [48]:
data.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [28]:
data.median()

TV           149.75
Radio         22.90
Newspaper     25.75
Sales         12.90
dtype: float64

# 3. The manager wants to find out whether the same amount was spent for the three advertisements (TV , Radio and Newspaper). Comment on your findings

H0(Null hypothesis) : Same amount was spent for each ads

H1(Alternate hypothesis) :Different amount was spent for each ads

In [50]:
f_value, p_value = stats.f_oneway(data['TV'],data['Radio'],data['Newspaper'])
print('f_value=',round(f_value,3))
print('p_value=',round(p_value,3))

f_value= 358.851
p_value= 0.0

In [51]:
if p_value<0.05:
    print('Reject the null hypothesis and Different amount was spent for each ads ')
else:
    print("Accept the null hypothesis and Same amount was spent for each ads")

Reject the null hypothesis and Different amount was spent for each ads